In [1]:
import pandas as pd

In [2]:
holidays = pd.read_csv('holidays_events.csv')
oil = pd.read_csv('oil.csv')
train = pd.read_csv('train.csv')

In [3]:
holidays.head()

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

In [4]:
holidays.shape

(350, 6)

In [10]:
holidays['type'].unique()

array(['Holiday', 'Transfer', 'Additional', 'Bridge', 'Work Day', 'Event'],
      dtype=object)

In [5]:
oil.head()

         date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02       93.14
2  2013-01-03       92.97
3  2013-01-04       93.12
4  2013-01-07       93.20

In [6]:
oil.shape

(1218, 2)

In [7]:
train.head()

   id        date  store_nbr      family  sales  onpromotion
0   0  2013-01-01          1  AUTOMOTIVE    0.0            0
1   1  2013-01-01          1   BABY CARE    0.0            0
2   2  2013-01-01          1      BEAUTY    0.0            0
3   3  2013-01-01          1   BEVERAGES    0.0            0
4   4  2013-01-01          1       BOOKS    0.0            0

In [8]:
train.shape

(3000888, 6)

In [9]:
train['onpromotion'].unique()

array([  0,   3,   5,   1,  56,  20,  19,   2,   4,  18,  17,  12,   6,
         7,  10,   9,  50,   8,  16,  42,  51,  13,  15,  47,  21,  40,
        37,  54,  24,  58,  22,  59,  11,  45,  25,  55,  26,  43,  35,
        14,  28,  46,  36,  32,  53,  57,  27,  39,  41,  30,  29,  49,
        23,  48,  44,  38,  31,  52,  33,  34,  61,  60, 116,  86,  73,
       113, 102,  68, 104,  93,  70,  92, 121,  72, 178, 174, 161, 118,
       105, 172, 163, 167, 142, 154, 133, 180, 181, 173, 165, 168, 186,
       140, 149, 145, 169, 188,  62,  84, 111,  65, 107,  63, 101,  87,
       125,  94, 114, 171, 153, 170, 166, 141, 155, 179, 192, 131, 147,
       151, 189,  79,  74, 110,  64,  67,  99, 123, 157, 117, 150, 182,
       162, 160, 194, 135, 190,  69, 108,  89, 126, 156, 103, 146, 132,
       177, 164, 176, 112,  75, 109,  91, 128, 175, 187, 148, 137, 184,
       196, 144, 158, 119, 106,  66, 100,  90, 120, 115,  98, 159, 152,
       185, 139, 143,  80, 124,  71, 134, 193,  78,  88, 122, 130,  81,
        97, 138, 191,  76,  96, 198,  82,  95, 195, 183, 199, 200, 201,
       197,  77,  83, 136, 205, 204, 202, 129, 206,  85, 209, 211, 207,
       208, 203, 210, 127, 213, 212, 218, 216, 217, 214, 222, 220, 223,
       229, 225, 228, 224, 231, 215, 233, 230, 235, 227, 221, 226, 219,
       289, 245, 609, 261, 322, 276, 710, 511, 326, 281, 718, 551, 304,
       639, 489, 299, 243, 630, 476, 655, 446, 286, 633, 435, 302, 644,
       470, 332, 259, 702, 520, 300, 241, 668, 510, 237, 626, 507, 317,
       624, 474, 240, 672, 306, 600, 383, 293, 258, 646, 444, 333, 279,
       717, 342, 720, 547, 305, 642, 452, 313, 252, 664, 481, 277, 307,
       264, 684, 479, 255, 657, 441, 312, 269, 716, 528, 320, 285, 726,
       536, 283, 628, 469, 464, 677, 420, 247, 629, 424, 290, 473, 294,
       722, 485, 297, 282, 719, 543, 253, 254, 678, 496, 275, 741, 512,
       236, 234, 244, 239, 238, 242, 232, 249, 250, 251, 391, 539, 411,
       486, 407, 330, 697, 246, 467, 263, 591, 248, 519, 425], dtype=int64)

In [12]:
train['sales'].min()

0.0

In [15]:
(train[train['family'] == 'DAIRY'])['sales'].min()

0.0