In [ ]:
import pandas as pd

In [9]:
holidays = pd.read_csv('holidays_events.csv', parse_dates=['date'])
oil = pd.read_csv('oil.csv', parse_dates=['date'])
oil.columns = ['date', 'oil']
train = pd.read_csv('train.csv', parse_dates=['date'])
test = pd.read_csv('test.csv', parse_dates=['date'])
stores = pd.read_csv('stores.csv')
transaction = pd.read_csv('transactions.csv', parse_dates=['date'])

In [10]:
print('===========================\n Holidays \n=======================')
display(holidays.head())
print('===========================\n Oil \n=======================')
display(oil.head())
print('===========================\n Train \n=======================')
display(train.head())
print('===========================\n Test \n=======================')
display(test.head())
print('===========================\n Stores \n=======================')
display(stores.head())
print('===========================\n Transactions \n=======================')
display(transaction.head())

===========================
 Holidays
=======================

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

===========================
 Oil
=======================

        date    oil
0 2013-01-01    NaN
1 2013-01-02  93.14
2 2013-01-03  92.97
3 2013-01-04  93.12
4 2013-01-07  93.20

===========================
 Train
=======================

   id       date  store_nbr      family  sales  onpromotion
0   0 2013-01-01          1  AUTOMOTIVE    0.0            0
1   1 2013-01-01          1   BABY CARE    0.0            0
2   2 2013-01-01          1      BEAUTY    0.0            0
3   3 2013-01-01          1   BEVERAGES    0.0            0
4   4 2013-01-01          1       BOOKS    0.0            0

===========================
 Test
=======================

        id       date  store_nbr      family  onpromotion
0  3000888 2017-08-16          1  AUTOMOTIVE            0
1  3000889 2017-08-16          1   BABY CARE            0
2  3000890 2017-08-16          1      BEAUTY            2
3  3000891 2017-08-16          1   BEVERAGES           20
4  3000892 2017-08-16          1       BOOKS            0

===========================
 Stores
=======================

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

===========================
 Transactions
=======================

        date  store_nbr  transactions
0 2013-01-01         25           770
1 2013-01-02          1          2111
2 2013-01-02          2          2358
3 2013-01-02          3          3487
4 2013-01-02          4          1922

In [11]:
train = train.merge(stores, on = 'store_nbr')
train = train.merge(oil, on ='date', how = 'left')
holidays = holidays.rename(columns = {'type': 'holiday_type'})
train = train.merge(holidays, on = 'date', how = 'left')

In [12]:
train.head()

,id,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,oil,holiday_type,locale,locale_name,description,transferred
0,0,2013-01-01,1,AUTOMOTIVE,0.0,0,Quito,Pichincha,D,13,NaN,Holiday,National,Ecuador,Primer dia del ano,False
1,1,2013-01-01,1,BABY CARE,0.0,0,Quito,Pichincha,D,13,NaN,Holiday,National,Ecuador,Primer dia del ano,False
2,2,2013-01-01,1,BEAUTY,0.0,0,Quito,Pichincha,D,13,NaN,Holiday,National,Ecuador,Primer dia del ano,False
3,3,2013-01-01,1,BEVERAGES,0.0,0,Quito,Pichincha,D,13,NaN,Holiday,National,Ecuador,Primer dia del ano,False
4,4,2013-01-01,1,BOOKS,0.0,0,Quito,Pichincha,D,13,NaN,Holiday,National,Ecuador,Primer dia del ano,False

In [14]:
train.shape

(3054348, 16)

In [16]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3054348 entries, 0 to 3054347
Data columns (total 16 columns):
 #   Column        Dtype
---  ------        -----
 0   id            int64
 1   date          datetime64[ns]
 2   store_nbr     int64
 3   family        object
 4   sales         float64
 5   onpromotion   int64
 6   city          object
 7   state         object
 8   type          object
 9   cluster       int64
 10  oil           float64
 11  holiday_type  object
 12  locale        object
 13  locale_name   object
 14  description   object
 15  transferred   object
dtypes: datetime64[ns](1), float64(2), int64(4), object(9)
memory usage: 372.8+ MB

In [18]:
train.isna().sum()

id                    0
date                  0
store_nbr             0
family                0
sales                 0
onpromotion           0
city                  0
state                 0
type                  0
cluster               0
oil              955152
holiday_type    2551824
locale          2551824
locale_name     2551824
description     2551824
transferred     2551824
dtype: int64

In [19]:
train['oil'] = train['oil'].interpolate(limit_direction = 'both')
train.isna().sum()

id                    0
date                  0
store_nbr             0
family                0
sales                 0
onpromotion           0
city                  0
state                 0
type                  0
cluster               0
oil                   0
holiday_type    2551824
locale          2551824
locale_name     2551824
description     2551824
transferred     2551824
dtype: int64

In [21]:
train.duplicated().any()

False

In [22]:
test.duplicated().any()

False

In [25]:
train['holiday'] = train['holiday_type'].notnull().astype(int)
train.head()

,id,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,oil,holiday_type,locale,locale_name,description,transferred,holiday
0,0,2013-01-01,1,AUTOMOTIVE,0.0,0,Quito,Pichincha,D,13,93.14,Holiday,National,Ecuador,Primer dia del ano,False,1
1,1,2013-01-01,1,BABY CARE,0.0,0,Quito,Pichincha,D,13,93.14,Holiday,National,Ecuador,Primer dia del ano,False,1
2,2,2013-01-01,1,BEAUTY,0.0,0,Quito,Pichincha,D,13,93.14,Holiday,National,Ecuador,Primer dia del ano,False,1
3,3,2013-01-01,1,BEVERAGES,0.0,0,Quito,Pichincha,D,13,93.14,Holiday,National,Ecuador,Primer dia del ano,False,1
4,4,2013-01-01,1,BOOKS,0.0,0,Quito,Pichincha,D,13,93.14,Holiday,National,Ecuador,Primer dia del ano,False,1

In [26]:
from scipy.stats import pearsonr

correlation, p_value = pearsonr(train['onpromotion'], train['sales'])

print("Pearson correlation coefficient:", correlation)
print("p-value:", p_value)

Pearson correlation coefficient: 0.4282410665185618
p-value: 0.0

In [27]:
correlation, p_value = pearsonr(train['holiday'], train['sales'])

print("Pearson correlation coefficient:", correlation)
print("p-value:", p_value)

Pearson correlation coefficient: 0.01396431778579287
p-value: 1.470063167199588e-131

In [28]:
train.isna().sum()

id                    0
date                  0
store_nbr             0
family                0
sales                 0
onpromotion           0
city                  0
state                 0
type                  0
cluster               0
oil                   0
holiday_type    2551824
locale          2551824
locale_name     2551824
description     2551824
transferred     2551824
holiday               0
dtype: int64

In [29]:
train['holiday'].unique()

array([1, 0])

In [30]:
train['onpromotion'].unique()

array([  0,   2,   1,   4,   3, 178,  36,  28,  45,  33,   6, 174,  26,
        32,   5, 171,  29,  44,  42,  34, 175,   7,  35,   8,  46,  27,
        24, 180,  47, 181,  40, 173,  25,  41,  43, 177, 176,  23,  31,
       179, 188,  10, 183, 186,  12, 182,   9, 184,  13, 194,  14, 185,
        37,  11,  19,  16,  15,  49,  48,  30,  50,  17,  20, 189, 191,
       190,  18, 192,  51, 197, 199, 200, 202,  21,  22, 213, 212, 207,
       208, 215, 218, 216, 209,  39,  38,  60,  61,  69,  58,  59,  62,
       210,  56, 204, 201, 205, 214,  67,  54,  76, 206,  63,  57,  53,
       203,  52,  55,  77,  65,  68, 217, 219,  97,  73,  75,  72,  71,
        94,  83,  90, 127,  92,  88, 103,  91,  64,  78,  85, 108, 101,
        93,  84, 167, 117, 114, 105, 109, 113, 104, 118, 123, 116, 125,
        80, 107, 224, 227, 223, 220,  66,  95,  74,  79, 211,  70,  82,
        81,  98,  96, 112, 110, 115,  86,  89, 121, 111, 119, 124, 120,
       129, 126,  87,  99, 100, 134, 131, 132, 106, 130, 128, 136, 137,
       133, 135, 141, 102, 122, 144, 139, 146, 145, 148, 140, 152, 157,
       150, 138, 142, 143, 198, 486, 195, 170, 467, 225, 519, 156, 154,
       155, 151, 160, 153, 161, 159, 147, 158, 163, 149, 166, 168, 169,
       172, 187, 193, 196, 221, 222, 229, 230, 162, 165, 164, 226, 539,
       263, 591, 391, 411, 407, 425, 330, 232, 697, 228, 231, 234, 236,
       233, 237, 235, 241, 238, 242, 244, 239, 243, 240, 249, 250, 245,
       251, 247, 246, 252, 248, 289, 609, 322, 276, 710, 326, 281, 718,
       304, 639, 299, 630, 261, 655, 286, 633, 302, 644, 332, 259, 702,
       300, 668, 626, 317, 624, 672, 306, 600, 293, 258, 646, 333, 279,
       717, 342, 720, 305, 642, 313, 664, 277, 307, 264, 684, 255, 657,
       312, 269, 716, 320, 285, 726, 283, 628, 677, 629, 290, 294, 722,
       297, 282, 719, 253, 254, 678, 275, 741, 511, 551, 489, 476, 446,
       435, 470, 520, 510, 507, 474, 383, 444, 547, 452, 481, 479, 441,
       528, 536, 469, 464, 420, 424, 473, 485, 543, 496, 512], dtype=int64)

In [31]:
train['oil']

0          93.14
1          93.14
2          93.14
3          93.14
4          93.14
           ...
3054343    47.57
3054344    47.57
3054345    47.57
3054346    47.57
3054347    47.57
Name: oil, Length: 3054348, dtype: float64

In [32]:
train.to_csv('new_train.csv')